@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #f8f9fa;
    }

    .card { /* warna bisa disesuaikan */
        color: #000;
        border: none;
        border-radius: 20px;
        height: 180px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        padding: 10px;
        transition: 0.3s ease;
    }
    
    .card-title {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }
    
    .card-text {
        font-size: 2rem;
        font-weight: bold;
    }

    .container .container-analytics {
        border-radius: 20px;
        padding: 20px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.1);
        background-color: #fff;
    }